<form>
    <div style="height: 128px;">
      <div style="float: left; width: 50%; padding: 0px 8px 8px 8px;">
        <div>
          <label for="entry-title">Entry Title:</label>
          <input type="text" class="legend-lore entry-title" name="entry-title" placeholder="REQUIRED"></input>
        </div>
        <div>
          <label for="journal-entry">Journal Entry:</label>
          <select id="journal-entry" class="legend-lore journal-entry-dropdown" name="journal-entry" style="width:100%;"></select>
        </div>
        <div>
          <label for="llm-model">Model:</label>
          <select id="llm-model" class="legend-lore llm-model" name="llm-model" style="width:100%;"></select>
        </div>
        <div>
          <label for="entry-template">Template:</label>
          <select id="entry-template" class="legend-lore entry-template" name="entry-template" style="width:100%;"></select>
        </div>
      </div>
      <div>
        <br>
        <input name="originating-content" class="legend-lore originating-content" type=checkbox checked=checked style="height:14px;">
        <label for="originating-content" style="line-height:26px;">Use originating content as context.</label>
      </div>
      <div>
        <br>
        <input name="global-context" class="legend-lore global-context" type=checkbox checked=checked style="height:14px;">
        <label for="global-context" style="line-height:26px;">Use global context for this generation.</label>
      </div>
      <div style="float: right; width: 50%; padding: 0px 8px 8px 8px;">
        <label for="context">{{contextName}}:</label>
        <textarea class="legend-lore context" name="context" placeholder="{{contextPlaceholder}}" style="height:73px;"></textarea>
      </div>
      <hr>
    </div>
    <div style="display:inline-block; width: 100%;">
      <div style="width: 50%; float:left; padding: 8px 0px 8px 8px;">
        <label>Template Preview:</label>
        <div class="legend-lore response-container" style="height: 200px; border-radius:4px; margin: 8px 8px 8px 0px; box-shadow: 0 0 4px inset;">
          <div class="legend-lore response-content" style="height: 200px; overflow-y: auto; margin: 8px 0px 8px 0px;">
            <div class="legend-lore template-preview" style="height: 184px; padding-left: 8px; padding-right: 8px;">
              <p>[Provide, with context to the original content, a brief introduction to the subject, including its basic definition, nature, and overall significance or relevance in the context it is being addressed.]</p>
              <h2>General Description</h2>
              <p>[Offer, with context to the original content, a general description of the subject, focusing on its key characteristics, features, or aspects. This section should lay the foundation for understanding the subject's uniqueness and importance.]</p>
            </div>
              <div></div>
          </div>
        </div>
      </div>
      <div style="width: 50%;float:right; padding: 8px 8px 8px 8px;">
        <label>Content Preview:</label>
        <div class="legend-lore response-container" style="height: 200px; border-radius:4px; margin: 8px 0px 8px 0px; box-shadow: 0 0 4px inset;">
          <div class="legend-lore response-content" style="height: 200px; overflow-y: auto; margin: 8px 0px 8px 0px;">
            <div class="legend-lore generation-preview" style="height:inherit; line-height:184px; text-align: center; padding-left:8px; padding-right:8px;">Pending Generation</div>
          </div>
        </div>
      </div>
    </div>
    <div style="font-size:0.8em; text-align:center; margin-top:-1rem">
        <span id="retry-count" style="height: 18px;"></span>
        <span>---</span>
        <span id="generation-time" style="height: 18px;"></span>
    </div>
</form>
